<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container p-3">
        <div class="container text-center mb-3 p-2">
        <h1>Register</h1>
        </div>

        <div class="container w-75 border border-3">
            <form action="/Home/Register" method="post">
                <label class="form-check-label" name="Complainant" >Complaint Name</label>
                <input class="form-control" type="text" name="Complainant" value="" />
                
                <label class="form-check-label" name="Mobile">Mobile No</label>
                <input class="form-control" type="text" name="Mobile" value="" />

                <label class="form-check-label" name="FirType">Fir Type</label>
                <input class="form-control" type="text" name="FirType" value="" />

                <label class="form-check-label" name="Date">Date</label>
                <input class="form-control" type="date" name="Date" value="" />

                <input class="btn btn-primary mt-3" type="submit" value="Register" />
            </form>
        </div>
        </div>
    </div>
</body>

</html>