@model DotNetLabExam.Models.Fir
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container p-3">
        <div class="container text-center mb-3 p-2">
            <h1>Update</h1>
        </div>

        <div class="container w-75 border border-3 p-3">
            <form action="/Home/Update" method="post">
                <input class="form-control" style="display:none" type="text" name="Id" value=@Model.Id />
                <label class="form-check-label" name="Complainant">Complaint Name</label>
                <input class="form-control" type="text" name="Complainant" value=@Model.Complainant />

                <label class="form-check-label" name="Mobile">Mobile No</label>
                <input class="form-control" type="text" name="Mobile" value=@Model.Mobile />

                <label class="form-check-label" name="FirType">Fir Type</label>
                <input class="form-control" type="text" name="FirType" value=@Model.FirType />

                <label class="form-check-label" name="Status">Status</label>
                <input class="form-control" type="text" name="Status" value=@Model.Status />

                <input class="form-control" style="display:none" type="text" name="Date" value=@Model.Date  />

                <input class="btn btn-primary mt-3" type="submit" value="Update" />
            </form>
        </div>
    </div>
    </div>
</body>

</html>